{% extends "base.html" %}
{% load static %}
{% block mycontent %}
		<div id="page-wrapper">

			<div >
				<div id="search"  align="center" >
					<form   action="{% url 'myapp:getpaper' %}" method="post" enctype="multipart/form-data">
    						{% csrf_token %}
						<p>
							<label >指令:</label>
                			<input type="text" name="cmdstr" placeholder="输入指令，python3 fff.py ...." size="60">
						</p>




							<br>

						<input type="submit" value="执行">

						</form>
				</div>
				{% if flag %}
				<br>
				<br>
				<p></p>
											<br>

				<p>{{json}}</p>
							<br>


			       			 {% endif %}

		</div>
		</div>
{% endblock mycontent %}